h1 {
    color: green;
}

.container {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(40, 10px);
}

.squares {
    height: 10px;
    width: 10px;
}

.snake {
    width: 10px;
    height: auto;
    background-color: green;
    border: 0.1px solid brown;
    border-radius: 25%;
}

.food {
    background-color: yellow;
    border: 0.1px dotted black;
    border-radius: 50%;
}