.container {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(40, 10px);
}

.squares {
    height: 10px;
    width: 10px;
}

.snake {
    width: 10px;
    height: auto;
    background-color: black;
    border: 0.1px solid red;
}

.food {
    background-color: green;
}